body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: white;
    color: black;
    margin: 0;
    text-align: center;

}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
h1,
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header img{
    height: 50px;
    width: auto;
    margin-right: auto;
    margin-top: 10px;
}
.header{
    top: 0px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: aliceblue;
    border-bottom: 1px solid gray;
}
.header li{
    padding: 5px 10px;
    margin: 5px 5px;
    border: none;
    display: inline-block;
    font-size: 0.75rem;
    border-radius: 5px;
    background-color: #00A7CC;
    color: white;
} 


#banner{
    display: block;
    top: 100px;
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}
#banner img{
    width: 75%;
    max-width: 500px;
    height: auto;
    margin: auto;
    
 }
 #banner h1{
     text-transform: uppercase;
     letter-spacing: 0.5rem;
     font-size: 3rem;
 } 
.mission{
    width: 60%;
    max-width: 450px;
    height: auto;
    margin: auto;
    font-size: 0.9rem;
}
footer{
    margin-top: 100px;
    padding-top: 20px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid gray;
}
.container{
    padding: 10px;
    text-align: center;

}
#copywrite{
    text-align: left;
    align-content: baseline;
}
footer li{
    text-decoration: underline;
    list-style: none;
    padding: 5px;
    font-size: 0.75rem;
}

